/*  Initialize colors */
$main-background: #292929;
$dark-background: #1f1d1d;
$basic-color: #227D51;
$risk-color: #42d885;
$basic-font: #a7a7a7;
$white-font: #fff;
$light-font: #ddd;
$success-btn-background: $basic-color;
$success-btn-border: $basic-color;
$success-btn-background-hover: $risk-color;
$success-btn-border-hover: $risk-color;
$success-btn-plain-background: transparent;
$title-light: #ddd;

/* light-themes-color */
$themes-color: #34c388;
$themes-color-risk: #eaf9f3;

$bg-color: #ffffff;
$bg-color-risk: #f6f7fb;
$bg-hover: #edeff6;

$border-color: #d6d9e2;
$border-color-deep: #a7a7a7;

$color: #777c8f;
$color-deep: #777c8f;
$color-risk: #b6bac6;
$color-deeper: #1f1d1d;

/* 按钮相关 */



/* pagination */
$pagination-bg: $themes-color;
$pagination-color: $color;
$pagination-color-active: $bg-color;
$pagination-color-hover: $themes-color;
$pagination-color-disabled: $color-risk;

/* data-back-btn */
$back-btn: $color-deep;
$back-btn-hover: $color-deeper;

/* 输入框相关 */
$input-bg: transparent;
$input-border: $border-color;
$input-color: $color-deep;
$input-placeholder: $input-border;
$input-border-hover: $border-color-deep;
$input-disbled-bg: $bg-hover;


/* light-region-color */
$app-bg: $bg-color-risk;

/* 导航相关 */
$nav-bg: $bg-color;
$left-bar-bg: $bg-color;

$left-bar-title: $color-deep;
$left-bar-color: $color;

$left-bar-active: $themes-color;
$left-bar-active-bg: $bg-color-risk;

$left-bar-icon: $color-risk;

/* 表格相关 */
$table-bg: $bg-color;
$table-color: $color;
$table-border-middle: $border-color;
$table-head-color: $color-deep;
$table-tr-bg-hover: $bg-hover;
$table-tr-color-hover: $table-head-color;

/* 字体相关 */
$default-font: $color;
$default-link: $themes-color;

/* 按钮相关 */
$btn-bg: $border-color;
$btn-border: $border-color;

/* 图标相关 */
$icon-color: $color-risk;
$icon-focus: $themes-color;

/* running status */
$running-bg: $themes-color;
$running-text: $themes-color;
$stopped-bg: $color;
$stopped-text: $color;


/* 下拉选择相关 */
$el-select-bg: transparent;
$select-color: $color-deep;
$select-border: $border-color;
$select-border-active: $border-color-deep;

$select-bg-active: $bg-color-risk;
$select-color-active: $color-deep;

$select-dropdown-bg: transparent;
$select-item-bg: $bg-color-risk;

/* title */
$page-title: $themes-color;
$overview-item-title: $color-deep;
/* broker */
$overview-broker-bg: $bg-color;
$overview-broker-border: transparent;
$overview-broker-icon: $themes-color;
$overview-broker-desc: $color-risk;

html, body, #app {
  height: 100%;
  margin: 0;
  background-color: $app-bg;
}
body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Work sans", Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $default-font;
  font-size: 14px;
  font-weight: 400;
}
/* nprogress */
body #nprogress .bar {
  background: #00ab6b;
}
body #nprogress .peg {
  box-shadow: 0 0 10px #00ab6b, 0 0 5px #00ab6b;
}

.light-themes {
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    color: $default-font;
    font-weight: 400;
  }
  a {
    color: $default-link;
    text-decoration: none;
  }
  //.cell.highlight {
  //  color: #ddd !important;
  //}
  .el-button {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Work sans", Arial, sans-serif;
  }

  /* button */
  .el-button i {
    margin-right: 5px;
  }
  .el-button {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Work sans", Arial, sans-serif;
  }
  .el-button .el-button--default:focus, .el-button--default:hover {
    color: #42d885 !important;
    border-color: #42d885 !important;
  }
  /* button */
  .el-button i {
    margin-right: 5px;
  }
  .el-button+.el-button {
    margin-left: 0;
  }
  .el-button--mini {
    background-color: transparent;
    border-color: #5d5d60;
    color: #fff;
  }
  .el-button--success:focus,
  .el-button--success:hover {
    background-color: $success-btn-background-hover;
    border-color: $success-btn-border-hover;
  }
  .el-button--small.is-plain {
    background-color: transparent;
    border-color: #5d5d60;
    color: #fff;
    padding: 8px 14px;
  }
  .el-button--small.is-plain:hover,
  .el-button--small.is-plain:focus,
  .el-button--success.is-plain:focus,
  .el-button--success.is-plain:hover {
    background-color: transparent;
    border-color: #a7a7a7;
    color: #fff;
  }
  .el-button--warning.el-button--mini:hover,
  .el-button--warning.el-button--mini:focus {
    background-color: #f9c855;
    border-color: #f9c855;
    color: #fff;
  }
  .el-button--danger.el-button--mini:hover,
  .el-button--danger.el-button--mini:focus {
    background-color: #ff6d6d;
    border-color: #ff6d6d;
    color: #ffffff;
  }

  /* button-disabled */
  .el-button.is-disabled.is-plain,
  .el-button.is-disabled.is-plain:focus,
  .el-button.is-disabled.is-plain:hover,
  .el-button.is-disabled {
    background-color: #292929;
    border-color: #ababab;
  }


  /* data-back-btn */
  .el-button {
    &.back-btn {
      color: $back-btn !important;
      font-weight: bolder;
      &:hover {
        color: $back-btn-hover !important;
      }
    }
  }


  /* input */
  input[icon="search"] {
    height: 36px;
    border-radius: 36px;
  }
  .el-input__inner {
    background-color: transparent;
    border-color: $input-border !important;
    color: $input-color !important;
    &:focus, &:hover {
      border-color: $input-border-hover !important;
    }
    &::-webkit-input-placeholder {
      color: $input-placeholder;
    }
    &::-moz-placeholder {
      color: $input-placeholder;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder;
    }
    &.is-disabled {
      .el-input__inner {
        background-color: $input-disbled-bg;
        border-color: $input-disbled-bg;
      }
    }
    .el-textarea__inner {
      background-color: transparent;
      border-color: $input-border;
      color: $input-color;
    }
  }

  .el-textarea__inner {
    &:focus {
      outline: 0;
      border-color: #ddd;
    }
  }


  /* checkbox-start */
  .el-checkbox .el-checkbox__inner:hover {
    border-color: #42d885;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #42d885;
  }
  .el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #42d885 !important;
    border-color: #42d885 !important;
  }

  /* loading */
  .el-loading-mask {
    background-color: #161616;
  }
  .el-loading-spinner .path {
    stroke: #00ab6b;
  }

  .page-title {
    font-size: 24px;
    text-transform: capitalize;
    color: $page-title;
    padding: 10px 0;
  }

  /* left-bar */
  .leftbar {
    background-color: $left-bar-bg;
    .el-menu--dark {
      background-color: $left-bar-bg;
    }
    .el-menu-item {
      color: $left-bar-color;
      i {
        color: $left-bar-icon !important;
      }
      &.is-active, &:hover {
        & > i {
          color: $left-bar-active !important;
        }
        color: $left-bar-active !important;
        background-color: $left-bar-active-bg !important;
      }
    }
    .el-menu-item-group__title {
      color: $left-bar-title;
    }
  }

  /* tabs */
  .el-tabs__item {
    color: #a7a7a7;
  }
  .el-tabs__header {
    border-color: #37363b;
  }
  .el-tabs__item.is-active,
  .el-tabs__item:hover {
    color: #fff;
  }
  .el-tabs__active-bar {
    background-color: #227D51;
  }

  /* popover */
  .el-popover .el-button--success {
    color: #fff;
    background-color: #13ce66;
    border-color: #13ce66;
  }
  .el-popover .el-button--text {
    margin-right: 10px;
    border: none;
    color: #20a0ff;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
  }


  .el-card__header {
    padding: 12px 20px;
    border-bottom: 1px solid #292929;
    color: #ddd;
    font-size: 16px;
  }
  .el-card {
    border: 1px solid #292929;
    background-color: #1f1d1d;
    color: #ddd;
    border-radius: 0;
  }



  /* select */
  .el-select {
    width: 250px;
    /* 圆角 */
    &.select-radius {
      .el-input__inner {
        height: 36px;
        border-radius: 36px;
      }
    }
    .el-input--small {
      .el-input__icon {
        color: $select-color !important;
      }
      .el-input__inner {
        background-color: $el-select-bg !important;
        border-color: $select-border;
        color: $select-color;
        &:hover,
        &:focus {
          border-color: $select-border-active !important;
        }
      }
    }
  }
  .el-select-dropdown {
    background-color: $select-dropdown-bg;
    border-color: $select-border-active !important;
    .el-select-dropdown__item {
      color: $select-color;
      &.selected.hover {
        background-color: $select-bg-active;
        color: $select-color-active;
      }
    }
  }

  /* table */
  .el-table {
    margin-top: 20px;
    color: $table-color !important;
    background-color: $table-bg;
    /* 增加内边距 */
    border: 20px solid transparent !important;
    &::after,
    &::before {
      background-color: transparent;
    }
    /* 表格头部 & 全部 */
    th, tr, .el-table__header-wrapper {
      .el-table__header {
        tr div {
          color: $table-head-color !important;
        }
      }
      background-color: $table-bg !important;
      div {
        background-color: $table-bg !important;
      }
    }
    .el-table__fixed-header-wrapper thead div,
    .el-table__header-wrapper thead div {
      color: $table-head-color;
    }
    .el-table__empty-text {
      color: $table-head-color;
    }
    td, th.is-leaf {
      border-bottom: 1px solid $table-border-middle !important;
    }
  }
  .el-table--enable-row-hover .el-table__body {
    tr {
      td {
        // background-clip: border-box;
        div {
          background-color: transparent !important;
        }
      }
      &:hover > td {
        background-color: $table-tr-bg-hover !important;
        color: $table-tr-color-hover !important;
      }
    }
  }
  /* 去边框 */
  .el-table--border td,
  .el-table--border th {
    border-right: none !important;
  }
  .el-table--border th,
  .el-table__fixed-right-patch {
    border-bottom: none !important;
  }


  /* pagination */
  .el-pagination {
    margin-top: 24px;
    text-align: right;
    color: $pagination-color !important;

    .btn-next,
    .btn-prev,
    .el-pager li {
      border: none !important;
      background-color: transparent !important;
      color: $pagination-color !important;
    }
    .el-pager {
      li.active {
        border: none !important;
        background-color: $pagination-bg !important;
        color: $pagination-color-active !important;
      }
      li:hover:not(.active) {
        color: $pagination-bg;
      }
    }
    button {
      &:hover {
        color: $pagination-color-hover !important;
      }
      &.disabled {
        color: $pagination-color-disabled !important;
        background-color: transparent !important;
      }
    }
  }



  /* ------------------ private style ------------------ */
  .home-view {
    background-color: $app-bg;
  }

  .overview-view {
    .card-item {
      background-color: $overview-broker-bg !important;
      border:1px solid $overview-broker-border;
      .icon {
        color: $overview-broker-icon;
        border-color: $overview-broker-icon;
      }
      .desc {
        p {
          color: $overview-broker-desc;
        }
      }
    }
    .running:before {
      background-color: $running-bg;
    }
    .stopped:before {
      background-color: $stopped-bg;
    }
    .running {
      color: $running-text;
    }
    /* card-box */
    .card-box {
      .card-title {
        color: $overview-item-title;
      }
    }
  }

  .signup-view .el-card {
    background-color: #fff;
  }
  .signup-view .el-card__header {
    border-bottom: 1px solid #d1dbe5
  }
  .signup-view .el-input.error input {
    border: 2px solid #e0b4b4;
  }

  .login-view {
    background-color: #181818;
    height: 100%;
    .el-input__inner {
      border: 1px solid #bfcbd9;
      background-color: transparent;
      color: #1f2d3d;
    }
    .el-input.is-disabled .el-input__inner {
      background-color: #eef1f6;
      border-color: #d1dbe5;
      color: #bbb;
      cursor: not-allowed;
    }
    .el-card {
      border: none;
      background-color: #fff;
    }
    .el-card__header {
      border-color: #EFF2F7;
      background-color: #fff;
    }
    .el-input.error input {
      border-color: #e0b4b4;
    }
    .login-footer {
      margin: 25px 0;
      text-align: right;
      border-bottom: 1px solid #EFF2F7;
      padding-bottom: 25px;
    }
    .el-checkbox {
      .el-checkbox__inner:hover {
        border-color: #42d885;
      }
      .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: #42d885 !important;
        border-color: #42d885 !important;
      }
    }
  }

  .http-api {
    .link {
      color: #227D51;
    }
  }
  .plugins-view {
    padding-top: 20px;
    .page-title {
      padding: 10px 0;
    }
    .el-row {
      margin-top: 20px;
    }
    .plugin-config {
      .el-form-item__label {
        color: #ddd;
      }
      .el-input.el-input--small {
        width: 100%;
      }
    }
    .el-table {
      margin-top: 60px;
    }
    .el-textarea__inner {
      background-color: transparent;
      border-color: #5d5d60;
      color: #ddd;
    }
  }
  .el-popover {
    .el-button--success {
      color: #fff;
      background-color: #13ce66;
      border-color: #13ce66;
    }
    .el-button--text {
      margin-right: 10px;
      border: none;
      color: #20a0ff;
      background: 0 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .plugins-view .el-input__inner,
  .el-textarea__inner,
  .el-button.el-button--text.el-button--samll {
    background-color: transparent;
    border-color: #5d5d60;
    color: #fff;
  }
  .plugins-view .el-button--success {
    &:hover, &:focus {
      background: #42d885;
      border-color: #42d885;
      color: #fff;
    }
  }
  .plugins-view .status:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 3px;
    border-radius: 4px;
  }
  .plugins-view .stopped:before {
    background-color: $stopped-bg;
  }
  .plugins-view .running {
    color: $running-bg;
  }
  .plugins-view .running:before {
    background-color: $running-text;
  }
  /* el-breadcrumb */
  .plugins-view .el-breadcrumb {
    margin-bottom: 20px;
    .plugin-name {
      .el-breadcrumb__item__inner {
        color: #fff;
      }
    }
    font-size: 24px !important;
    .el-breadcrumb__item__inner {
      text-transform: none;
      color: #777777;
      &:hover {
        color: #fff;
      }
    }
  }


  /*.cancel-btn*/
  .plugins-view .cancel-btn {
    &.el-button--small {
      border: none;
      color: #ddd !important;
      &:hover, &:focus {
        color: #ff6d6d !important;
      }
    }
  }
  /* oper-block */
  .plugins-view .plugin-config .oper-block {
    .el-button--text {
      color: #ddd;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
    .el-button {
      margin-right: 14px;
    }
    .el-button--small.is-plain.el-button--success {
      border-color: #227D51 !important;
      color: #227D51 !important;
      background-color: transparent;
      &:hover, &:focus {
        background: #42d885 !important;
        border-color: #42d885 !important;
        color: #fff !important;
      }
    }
  }

  .websocket-view {
    .connect-btn.el-button--small.el-button--success {
      color: #227D51;
      border-color: #227D51;
    }
    .unsubscribe {
      color: #a7a7a7;
    }
    .el-checkbox__label {
      color: #ddd;
    }
    .connect-area {
      button {
        margin-right: 20px;
      }
      .connect-state {
        span {
          margin-left: 12px;
          color: #ff6d6d;
        }
      }
    }

    .refresh-btn {
      font-size: 12px;
      margin-left: 8px;
      cursor: pointer;
    }

    .el-button--small.el-button--success {
      background-color: transparent;
      border-color: #227D51;
      color: #227D51;
      padding: 8px 14px;
      &:hover {
        background-color: #42d885;
        border-color: #42d885;
        color: #fff;
      }
      &.close-btn:not(.is-disabled){
        border-color: #ff6d6d;
        color: #ff6d6d;
        &:hover {
          background-color: #ff6d6d;
          color: #fff;
        }
      }
      &.is-loading {
        border-color: #42d885 ;
        background-color: #42d885;
        color: #fff !important;
      }
      &.is-disabled {
        color: #bfcbd9;
        cursor: not-allowed;
        background-color: #eef1f6;
        border-color: #d1dbe5;
      }
    }
  }

  .users-view .el-dialog {
    .el-input__inner {
      border: 1px solid #bfcbd9;
      background-color: transparent;
      color: #1f2d3d;
    }
    .el-input.is-disabled .el-input__inner {
      background-color: #eef1f6;
      border-color: #d1dbe5;
      color: #bbb;
      cursor: not-allowed;
    }
    .el-button--success.is-plain:focus {
      border-color: #a7a7a7;
    }
    .el-dialog__header {
      border-bottom: 1px solid #EFF2F7;
      padding: 15px 20px;
    }
    .el-dialog__footer {
      border-top: 1px solid #EFF2F7;
      padding: 15px 20px;
    }
    .el-input.error input {
      border: 2px solid #e0b4b4;
    }
    .toggle-btn {
      color: #13ce66;
      &:hover {
        color: #42d885;
      }
    }
  }

}
